body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

#music-player-container, #user-details-container, #login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#visualizer {
    border: 1px solid #000;
    margin-bottom: 20px;
}

input, button {
    margin: 10px;
    padding: 10px;
    width: 200px;
}

button {
    cursor: pointer;
    background-color: #4CAF50;
    color: white;
    border: none;
}

button:hover {
    background-color: #45a049;
}

a {
    color: #4CAF50;
}
